@import 'tailwindcss';
@plugin '@tailwindcss/typography';

:root {
	--black: #1c1c1c;
	--grey: #3c3c3c;
	--white: #fbfbfb;
	--light-grey: #a7a7a7;
	--red: #ee2c2c;
	--yellow: #e3e36a;
	--blue: #6495ed;
	--green: #a9e5bb;
	--purple: #fab2ea;
}

body {
	background-color: var(--black);
}

* {
	color: var(--white);
}
